.small-text {
  font-size: 0.9rem;
  font-family: "potato";
}

@font-face {
    font-family: "potato";
    src: url("fanwood_text-webfont.woff") format("woff2");
}

@font-face {
    font-family: "apple";
    src: url("Haskoy-ExtraLight.woff2") format("woff");
}

/* This is the main site container */
.container {
    width: 800px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
}


/* Each photo + information block */

.photo-entry {
    margin-bottom: 60px;
}

/* Photo */

.photo-entry img {
    width: 800px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

/* Date / location / coordinates */

.photo-info {
    margin: 0 0 10px 0;
}

/* Description */

.photo-description {
    margin: 0;
}




.photo-entry img.portrait {
    width: 600px;
    max-width: 100%;
}


.thumb {
    width: 800px;
    max-width: 100%;
    height: auto;
    display: block;

    user-select: none;
    transform: translateZ(0);
}

.photo-entry video.portrait {
    width: 600px;
    max-width: 100%;
}












.video-gallery {
    width: 800px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 400px);

}

.video-entry {
    width: 400px;
}

.video-thumb {
    width: 400px;
    max-width: 100%;
    height: auto;
    display: block;
    user-select: none;
}

